@model IEnumerable<AireSpringWeb.Models.EmployeeViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>AireSpring Employees</h1>

<p>
    <a asp-action="Create">Create New Employee</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeePhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeZip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HireDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeePhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeZip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.EmployeeID  }) |
                    @Html.ActionLink("Details", "Details", new {  id=item.EmployeeID  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.EmployeeID  })
            </td>
        </tr>
}
    </tbody>
</table>
